.questions-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 80vw;
}

.question-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  width: 80%;
}

.question-card {
  display: flex;
  border: 1px solid black;
  padding: 1rem;
  width: 100%;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 680px) {
  .question-card {
    width: 100%;
    min-height: 100px;
  }
  .question-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    justify-items: center;
  }
}
