body {
  height: 100vh;
}

.quiz-list-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-part {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100vw;
  padding-top: 2rem;
  border-top: 1px solid black;
}
select {
  width: 30%;
  height: 2rem;
  text-align: center;
  background-color: #e4e1e1;
}
.quiz-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 2rem 0;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e1e1;
  width: 50%;
  padding: 1rem 0;
  text-align: center;
}

.card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

a:link,
a:visited {
  color: #0000ee;
  text-decoration: none;
}

@media screen and (min-width: 680px) {
  .card {
    max-width: 20rem;
  }
}
